
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<html>
<head>
    <style type="text/css">
        td {
            height: 40px;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>DangNhap</title>
</head>
<body>

    <h4 style="color:red; text-align:center;">@ViewBag.ThongBao</h4>
    <h2 style="text-align:center;">ĐĂNG NHẬP</h2>
    <div>

        <table align="center">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <tr>
                    <td>Tên đăng nhập: </td>
                    <td>
                        @Html.TextBox("TenDN")
                        @ViewData["Err1"]
                    </td>
                </tr>
                <tr>
                    <td>Mật khẩu: </td>
                    <td>
                        @Html.Password("MatKhau")
                        @ViewBag.Err2
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Đăng nhập" />
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
